<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealtimeDatabaseReusuableCodeDoc"
        tools:targetApi="31">
        <activity
            android:name=".ActiveMenuRecycler"
            android:exported="false" />
        <activity
            android:name=".ActiveRestaurantRecycler"
            android:exported="false" />
        <activity
            android:name=".OrderReceiptDetails"
            android:exported="false" />
        <activity
            android:name=".CustomerPastOrders"
            android:exported="false" />
        <activity
            android:name=".CustomerActiveOrders"
            android:exported="false" />
        <activity
            android:name=".OrdersOptions"
            android:exported="false" />
        <activity
            android:name=".QRCode"
            android:exported="false" />

        <activity
            android:name=".OrderPayment"
            android:exported="false" />

        <activity
            android:name=".CustomerReceipt"
            android:exported="false" />
        <activity
            android:name=".MenuCustomerOrdering"
            android:exported="false" />
        <activity
            android:name=".MenuAddRestaurantViewAdd"
            android:exported="false" />
        <activity
            android:name=".RestaurantSearch"
            android:exported="false" />
        <activity
            android:name=".CustomerCheckout"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".RestaurantEdit"
            android:exported="false" />
        -->
        <activity
            android:name=".RestaurantViewEdit"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MenuItemViewEdit"
            android:exported="false" />
        <activity
            android:name=".MenuItemManagement"
            android:exported="false" />
        <activity
            android:name=".MenuAdd"
            android:exported="false" />
        <activity
            android:name=".MenuAddMenuItemViewAdd"
            android:exported="false" />
        <activity
            android:name=".MenuManagement"
            android:exported="false" />
        <activity
            android:name=".RestaurantAdd"
            android:exported="false" />
        <activity
            android:name=".RestaurantManagement"
            android:exported="false" />
        <activity
            android:name=".CurrentReviews"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <!--
 <activity
            android:name=".ReviewSearch"
            android:exported="false" />
        -->
        <activity
            android:name=".MenuItemAdd"
            android:exported="false" />
        <activity
            android:name=".ItemMenuItem"
            android:exported="false" />
        <activity
            android:name=".ItemMenu"
            android:exported="false" />
        <activity
            android:name=".ItemLocation"
            android:exported="false" />
        <activity
            android:name=".MerchantMenu"
            android:exported="false" />
        <activity
            android:name=".HomeMerchant"
            android:exported="false" />
        <activity
            android:name=".HomeCustomer"
            android:exported="false" />
        <activity
            android:name=".MerchantProfile"
            android:exported="false" />
        <activity
            android:name=".Messaging"
            android:exported="false" />
        <activity
            android:name=".ChatSearch"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".AdminDatabaseManipulator"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>